@use "../../assets/styles/sass/abstracts/vars" as *;

.portfolio {
  margin-bottom: 50px;
  &-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &__item {
      flex: 0 0 308px;
      width: 308px;
      height: 100%;
      position: relative;
      overflow: hidden;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      & img {
        width: 100%;
        height: 190px;
        padding-right: 5px;
      }

      &:hover {
        .portfolio-info {
          opacity: 1;
          top: 0;
        }
      }
    }
  }

  &__btn {
    background: $white-color;
    border: none;
    cursor: pointer;
    font-family: $base-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    &.active {
      color: $base-color;
    }

    &:hover {
      color: $base-color;
    }
  }
}

.tabs-list {
  display: flex;
  gap: 5px;
  position: relative;

  &__item {
    &:not(:last-child)::after {
      content: "/";
      position: absolute;
    }
  }
}